$blue: #389AF5;
$body-collor: #414141;

$font-family-sans-serif: rubik, system-ui, -apple-system, "sagoe UI", Roboto, "Helvetica Neue", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Symbol", "Nato Color Emoji";

$heading-font-weight: 700;
